body {
  margin-top: 70px;
}

.row {
  margin: 0px;
}

.section-title > h1{
  font-family: Poppins;
  font-weight: 600;
  line-height: 36px;
  font-size: 2.5em;
  text-align: center;
  color: #323C5A;
  position: relative;
}

.section-title > h1::after {
  content: "";
  background-color: #F89A1D;
  position: absolute;
  height: 6px;
  right: 48%;
  bottom: -20px;
  width: 48px;
}

.section-desc-content {
  font-family: Work Sans;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.1em;
  text-align: center;
  color: #323C5A;
  padding: 0px 100px;
  padding-top: 50px;
}

.features-section {
  padding: 50px 0px;
}

.features-card-list {
  text-align: center;
  margin-top: 60px;
}

.features-card-list .features-cards {
  padding: 0px 25px;
}

.top-image {
  margin-top: -10px;
}

.features-card-list .features-cards .section-card-desc {
  text-align: center;
}

.card-img {
  margin-bottom: 10px;
}

.section-3 {
  background-color: #EEEEEE;
  padding: 50px 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-3-img {
  text-align: center;
  margin-top: 10px;
}

.predict-main-sec {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4E2F3;
}

.ng-touched .ng-valid {
  border: 2px green solid;
}

.ng-touched .ng-invalid {
  border: 2px red solid;
}

.my-loader {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1000;
  width: 95vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.my-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #323C5A; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
