<main>
  <section class="section-1 one-view">
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 col-sm-6">
          <div class="section-1-detail">
            <div class="section-1-head">
              <h1>NOBROKER</h1>
            </div>
            <div class="section-1-desc">
              <span>
                A ML based House rent Predictor, giving best possible price of House
              </span>
            </div>
            <div class="redirect-button">
              <button class="btn btn-lg bg-success" ui-sref="predict" >Try our Predictor</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="section-1-img">
            <img src="src/assets/images/homepage_img.png" width="100%">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-2 one-view">
    <div class="container">
      <div class="section-head">
        <div class="section-title">
          <h1>How we are different?</h1>
        </div>
        <div class="section-desc-content">
          <span>
            It is not hidden about the brokers involment in real esatate business. We provide here the current market price value of house based on your preference with maximum options available to filter out.
          </span>
        </div>
      </div>
      <div class="features-card-list">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/houseprice_feature1.png" width="70px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Learning needs Analysis
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  An interactive dashboard to keep track of all your courses and keeps you updated via notifications
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/houseprice_feature3.png" width="70px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Content Studio
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  Find all the related articles and videos to your courses and get that extra bit of knowledge.
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/houseprice_feature2.png" width="85px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Expert Designers
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  The leaderboard tracks your performance and compare it with others to give you a competitive enviroment to grow.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-3">
    <div class="section-head">
      <div class="section-title">
        <h1>Real time House-rent Predictor</h1>
      </div>
      <div class="section-desc-content">
        <span>
          In built Predictor, that let's you know current time best market price with any preference you like to know
        </span>
      </div>
    </div>
    <div class="section-3-img">
      <img src="src/assets/images/house_demo.png" height="300px">
    </div>
  </section>
  <section class="one-view section-4">
    <div class="container">
      <div class="section-head">
        <div class="section-title">
          <h1>Features</h1>
        </div>
      </div>
      <div class="features-card-list">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/main_features1.png" width="70px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Learning needs Analysis
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  An interactive dashboard to keep track of all your courses and keeps you updated via notifications
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/main_features3.png" width="70px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Content Studio
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  Find all the related articles and videos to your courses and get that extra bit of knowledge.
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="features-cards">
              <div class="card-img top-image">
                <img src="src/assets/images/main_features2.png" width="70px" height="80px">
              </div>
              <div class="section-card-title">
                <h3>
                  Expert Designers
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  The leaderboard tracks your performance and compare it with others to give you a competitive enviroment to grow.
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="features-cards">
              <div class="card-img">
                <img src="src/assets/images/main_features4.png" width="70px" height="70px">
              </div>
              <div class="section-card-title">
                <h3>
                  Expert verified Solutions
                </h3>
              </div>
              <div class="section-card-desc">
                <span>
                  Ask for any queries or answer queries on the forum to help each other with topics of similar interest.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
