<main>
  <section class="predict-main-sec">
    <div class="container">
      <div class="section-head">
        <div class="section-title">
          <h1>Enter the Detail of Home</h1>
        </div>
      </div>
      <div class="form-detail bg-light card">
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="latitude">Latitude</label>
                <input type="number" name="latitude" id="latitude" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="longitude">Longitute</label>
                <input type="number" name="longitude" id="longitude" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for=gym>Gym</label>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="gymYes" name="gym" class="custom-control-input">
                  <label class="custom-control-label" for="gymYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="gymNo" name="gym" class="custom-control-input">
                  <label class="custom-control-label" for="gymNo">No</label>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for=gym>Lift</label>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="liftYes" name="lift" class="custom-control-input">
                  <label class="custom-control-label" for="liftYes">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="liftNo" name="lift" class="custom-control-input">
                  <label class="custom-control-label" for="liftNo">No</label>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for=gym>Swimming Pool</label>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Yes</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">No</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="propertySize">Property Size</label>
                <input type="number" name="propertySize" id="propertySize" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="noOfBathroom">No. of Bathrooms</label>
                <input type="number" name="noOfBathroom" id="noOfBathroom" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="floor">Floor</label>
                <input type="number" name="floor" id="floor" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="totalFloor">Total no. of Floor</label>
                <input type="number" name="totalFloor" id="totalFloor" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="balcony">Balconies</label>
                <input type="number" name="balcony" id="balcony" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label>Parking</label>
                <br>
                <select class="custom-select">
                  <option disabled>Select an option</option>
                  <option>None</option>
                  <option>Both</option>
                  <option>Two Wheeler</option>
                  <option>Four Wheeler</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Building Type</label>
                <br>
                <select class="custom-select">
                  <option disabled>Select an option</option>
                  <option>Apartment</option>
                  <option>Independent House / Villa</option>
                  <option>Independent Floor / Builder's Floor</option>
                  <option>Gated Community Villa</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>Building Category</label>
                <br>
                <select class="custom-select">
                  <option disabled>Select an option</option>
                  <option>BHK 1</option>
                  <option>BHK 2</option>
                  <option>BHK 3</option>
                  <option>BHK 4</option>
                  <option>BHK 4 PLUS</option>
                  <option>RK 1</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-lg bg-primary text-light">Submit Details</button>
        </div>
      </div>
    </div>
  </section>
</main>
